<!-- User list -->
<div class="users-container">
  <div class="user-infos">
    <ul *ngFor='let utente of utenti'>
      <li>
        <strong>Name: </strong>{{utente.first_name}}
      </li>
      <li>
        <strong>Lastname: </strong>{{utente.last_name}}
      </li>
      <li>
        <i class="fas fa-trash-alt" (click)="deleteUser(utente)"></i>
      <li>
        <button [routerLink]="['/detail',utente.user_id]">Modifica</button>
      </li>
    </ul>
  </div>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">
      Name
    </label>
    <input type="text" id="name" formControlName="name">
  </div>

  <div>
    <label for="lastname">
      Lastname
    </label>
    <input type="text" id="lastname" formControlName="lastname">
  </div>

  <input type="submit" value="Invia">
</form>